/* ROOT COLORS */
:root{
    /* Palette Colors*/
    --palette-brown: #483425;
    --palette-teal: #00C9AC;
    --palette-light-teal: #C3FCF1;
    --palette-dark-green: #4C8077;
    /* Other Colors Defined */
    --background-color: white;
    --text-color: black;
    --add-button-color: rgb(124, 201, 124);
    --edit-button-color: rgb(245, 245, 103);
    --delete-button-color: rgb(240, 70, 70);
    --like-button-color: rgb(200, 100, 200);
    --comment-button-color: rgb(255, 179, 37);
}

/* HOME PAGE */
body{
    background-image:  linear-gradient(to bottom, rgba(245, 246, 252, 0.7), rgba(76, 128, 119, 0.1)), url("/images/krista-mangulsone-9gz3wfHr65U-unsplash.jpg");
    background-color: #4C8077;
    background-repeat: no-repeat;
    background-size: 100%;
}
/* #intro {
    background-image: url("/images/krista-mangulsone-9gz3wfHr65U-unsplash.jpg");
    height: 100vh;
  }
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}
.mask{
    background-color: rgba(0, 0, 0, 0.8);
} */
/* #home-main{
    height: 100vh;
    width: 100%;
    background-image: url("/images/krista-mangulsone-9gz3wfHr65U-unsplash.jpg");
    background-color: #4C8077;
    background-repeat: no-repeat;
    background-size: 100%;
} */

#home-content{
    background-color: white;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}
#home-content h2{
    padding-top: 30px;
}
#home-content p{
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

/* NAV BAR */
nav ul{
    text-align: left;
}
#logo-img{
    width: auto;
    height: auto;
    margin-left: 10px;
}
/* nav li{
    justify-content: center;
} */
/* #nav-buttons{
    float: right;
}
#nav-button{
    float: right;
} */
.form-inline button{
    text-align: right;
}

/* GENERAL MAIN CONTENT */
main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    /* border-radius: 2%; */
}
#main-container{
    background-color: white;
    border-radius: 2%;
}
h1 {
    text-align: center;
    color: var(--palette-brown);
    /* background-color: var(--palette-light-teal);
    width: 40%;
    margin: auto; */
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 3px;
    font-family: 'Lobster Two', cursive;
    
}
h2 {
    color: var(--palette-teal);
    font-family: 'Montserrat', sans-serif;
}
h2 a{
    color: var(--palette-teal);
}
h2 a:hover{
    color: var(--palette-brown);
}
p{
    color: var(--text-color);
}

/* INDEX CARD CONTENT */
img{
    /* width: 80%; */
    width: 100%;
    height: auto;  
}
#card{
    border: 1px solid lightgray;
    border-radius: 2%;
}
#card:hover{
    background-color: var(--palette-light-teal);
}
#card-content{
    padding-bottom: 0px;
}
#icons{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
#card-content-buttons{
    padding-bottom: 10px;
}

/* BUTTONS */
.btn-primary{
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: var(--palette-dark-green);
    border-color: var(--palette-dark-green); */
    background-color: var(--palette-light-teal);
    border-color: var(--palette-light-teal);
    color: var(--palette-dark-green);
}
.btn-primary:hover{
    /* background-color: var(--palette-light-teal);
    border-color: var(--palette-dark-green);
    color: var(--palette-dark-green); */
    background-color: var(--palette-dark-green);
    border-color: var(--palette-dark-green);
}
.btn-warning{
    margin-right: 20px;
}
.btn-warning:hover{
    transform: scale(1.2);
}
.btn-danger:hover{
    transform: scale(1.2);
}
.btn-success:hover{
    transform: scale(1.2);
}

/* FORMS */
form {
    display: inline;
}
.inactive {
    color: gray;
}
.border {
    border: 1px solid gray;
}
.form-group{
    display: inline-block;
    padding: 1em;
}

/* FOOTER */
footer{
    margin-top: 100px;
    background-color: white;
}
#copyright{
    background-color:rgba(0, 0, 0, 0.2);
}
footer a:hover{
    fill: var(--palette-dark-green);
}
.page-link {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    color: var(--palette-brown);
    margin: 20px;
    font-size: 13px;
}

/* Katie FOOTER */
footer hr{
    width: 70px;
    background-color: #00C9AC;
    margin-top: 20px
}

.copyright {
    background-color: white;
    font-size: 12px;
}

.text-dark {
    text-decoration: none;
}

h6 {
    margin-top: 40px;
}

footer section {
    font-family: 'Montserrat', sans-serif;
    color: #483425;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    color: #212529;
}
