:root{
    /* Palette Colors*/
    --palette-brown: #483425;
    --palette-teal: #00C9AC;
    --palette-light-teal: #C3FCF1;
    --palette-dark-green: #4C8077;
    /* Other Colors Defined */
    --background-color: white;
    --text-color: black;
    --add-button-color: rgb(124, 201, 124);
    --edit-button-color: rgb(245, 245, 103);
    --delete-button-color: rgb(240, 70, 70);
    --like-button-color: rgb(200, 100, 200);
    --comment-button-color: rgb(255, 179, 37);
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}
  
/* nav bar */
nav ul{
text-align: left;

}
#logo-img{
    width: auto;
    height: auto;
    margin-left: 10px;
}
.login-container{
    float: right;
}

/* nav li{
    justify-content: center;
} */
/* #nav-buttons{
    float: right;
}
#nav-button{
    float: right;
} */
.form-inline button{
    text-align: right;
}

/* home page */
body{
    /* height: auto; */
    background-image: url("/images/krista-mangulsone-9gz3wfHr65U-unsplash.jpg");
    background-color: #4C8077;
    background-repeat: no-repeat;
    background-size: 100%;
}
#home-main{
    background-color: transparent;
}
main{
    border-radius: 2%;
}
#home-content{
    background-color: white;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}
#home-content h2{
    padding-top: 30px;
}
#home-content p{
    padding: 30px;
}

/* general content */
h1 {
    text-align: center;
    color: var(--palette-brown);
    margin-top: 20px;
}

h2 {
    color: var(--palette-teal);
}

h2 a{
    color: var(--palette-teal);
}

h2 a:hover{
    color: var(--palette-brown);
}

p{
    color: var(--text-color);
}

img{
    width: 80%;
    height: auto;
   
}
.col-sm-4{
    border: 1px solid var(--palette-brown);
    border-radius: 2%;
    /* background-color: var(--palette-light-teal); */
}

#icons{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    /* border: 1px solid black;
    border-radius: 100%; */
}

/* buttons */
.btn-primary{
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: var(--palette-dark-green);
    border-color: var(--palette-dark-green); */
    background-color: var(--palette-light-teal);
    border-color: var(--palette-light-teal);
    color: var(--palette-dark-green);
}
.btn-primary:hover{
    /* background-color: var(--palette-light-teal);
    border-color: var(--palette-dark-green);
    color: var(--palette-dark-green); */
    background-color: var(--palette-dark-green);
    border-color: var(--palette-dark-green);
}
.btn-warning{
    margin-right: 20px;
}

/* forms */
form {
    display: inline;
}

.inactive {
    color: gray;
}

.border {
    border: 1px solid gray;
}